h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    font-size:2rem;
}

section {
    border-radius:10px;
    width: 50%;
    margin: 0 auto;
    background-color:#abf;
    padding:2rem;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}